@font-face {
    font-family: circular;
    src: url(https://d1tntvpcrzvon2.cloudfront.net/static-assets/fonts/CircularXXWeb-Medium.woff2) format("woff2"),url(https://d1tntvpcrzvon2.cloudfront.net/static-assets/fonts/CircularXXWeb-Medium.woff) format("woff");
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    font-display: swap
}

body {
    background-color: rgb(252, 252, 252);
    font-family: circular,sans-serif;
    font-weight: 700;
    color: rgb(14,14,14);
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
}

a {
    height: 70px;
    background-color: rgb(243, 243, 243);
    width: 200px;
    border-radius: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

.johnica-spencer-picture {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    min-height: 180px;
    min-width: 180px;
    background: url(IMG_1702_smaller.jpg);
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
}

.page-header {
    text-align: center;
}

.thank-you {
}
